.header {
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo {
    font-weight: 700;
    font-size: 25px;
    color: #fff;
}
.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}